SCRAPE HTML AND CREATE DATAFRAME

In [114]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup


website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'html.parser')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')

data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]
df.head()

  PostalCode           Borough              Neighbourhood
1        M1A      Not assigned               Not assigned
2        M2A      Not assigned               Not assigned
3        M3A        North York                  Parkwoods
4        M4A        North York           Victoria Village
5        M5A  Downtown Toronto  Regent Park, Harbourfront

REMOVE NOT ASSIGNED ROWS

In [109]:

toronto_df_dropna = toronto_df[toronto_df.Borough != 'Not assigned'].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

GROUP NEIGHBOURHOOD BT POSTALCODE AND BOROUGH

In [113]:
toronto_df_grouped = toronto_df_dropna.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))
toronto_df_grouped.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [ ]:
DEAL WITH NOT ASSIGNED NEIGHBOURHOOD AND SHAPE DATAFRAME

In [112]:
To_neigh_rows = toronto_df_grouped.Neighbourhood == 'Not assigned'
toronto_df_grouped.loc[To_neigh_rows, 'Neighbourhood'] = toronto_df_grouped.loc[To_neigh_rows, 'Borough']
toronto_df_grouped[To_neigh_rows]
toronto_df_grouped.shape

(103, 3)

READ CVS FILE AND ASSIGNED TO DATAFRAME

In [139]:
!wget -O Geospatial_data.csv http://cocl.us/Geospatial_data
df_cord = pd.read_csv('Geospatial_data.csv')
df_cord.head()

--2020-07-23 19:33:48--  http://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.194, 158.85.108.83, 158.85.108.86
Connecting to cocl.us (cocl.us)|169.48.113.194|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data [following]
--2020-07-23 19:33:48--  https://cocl.us/Geospatial_data
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-07-23 19:33:49--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.29.197
Connecting to ibm.box.com (ibm.box.com)|107.152.29.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-07-23 19:33:49--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-07-23 19:33:49--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.29.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.29.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!K8xKBNUO8RkUfzqpiZ9hXPZE0WI3ERb1KOmYDwzpJ8B7eVLKeHZbzhj0TJBJlB36K5qaxv1jzGtAtRLJCRljipw_eSxV89VpZPx2DgS35ECU_huvRVEi2nA3e1EaNWiBt9prXvcjaOcscNdR4ZhpPgKXw-JcitebAXnax0MgFeyzAJ12BLGBdUU0SUlhEF_7t6cvJYIMY7SuY_aTHsmsFDBWwfQV_taiCIUwSiFyRaXfS4DGWnuCui8IZw6p_5_noIzrD8A1xtK7exVW_3Zx6chboByRiTKOwPiS88xPH00DBT7A3y-cbQgDesbmoKny-9pxdrfXjVfVYFw7SjH_w35mL2BfX1TMyzZ31PFiAvX8dLUWYwGVFLqddv6DMkkUyF48ANeW3qKscR9jUcwP3sPlGN7JOms3x6tFCUNihNFu9V7AZu7xE10GAyIok7XpuWBbCn-w8bX6VBHOnMplxSVq3Bp2NdgrnRn-DM1mCHpwDQjhNZK_ZC65s1GTxpGx00fcyttnBt4BbBXNJ3jnafGxw0aJ7wJfYlERIE04Y3YDtp67_fB54g4-DHOqbbtnfjO1RkkITdC8pGBpux9ptg7LrdsHpZmpQTh3T8fGMj4iCOruvTBuxxCzBERZS2J6LzXbmTZOhDdOQs0ih8FEWe83E7gCoq3I_bWMxThSsIQ8x1TPo-FFFLNKpfTdDhlOOHRDD4gKKfAF-iBSBi4doce-r6qUk7W9kUFyq58H_5IH3Bj1w_roRxpwL1hGvVAf7nBQzXLBNz2pqDCACOEFwPzX-SmxQAeW-mgoQgGD-K5lUlv2858QrOP8JJshccxF4VxUnd_Y3M_XJnvydeYRG9IryfKIBmFteen-nuKMS59kEl3NRwVmEwSktBjGgZmsSMlpZAG7CEMo_gxZvSpbwQgasrnJPIWPK46SjeHUIeB8lpSRAKc5wmzcnLseya05Go6f_6eDyngNkMIk4ReOtqFw14fqRGwv3OvKuETP4N4jwiLYUC8HS2xAFnpLQEcH1w8CvhBqL0wbmg02nNNb8Y5mdmeYHoYzroN1M9UadeAqE_b6V0qg77t6j18LgPog7BLXfFBCREu5LdayB8JoQLIsIXDsDUTYVXLt7Q2fJNBnO5tOnSncnuO3dlMStmhKuVL4y-9q9hH9tO_xspiLRdVYwZP1diz64V9TLQ97ZHWaPdGWD377lLkVsiOFKRcM7jSmERu_eOrWyw-bAAI0IcFXJUcStE0VZK7Zk8aUQI5t-Ytfw9MpdkkKaAAyuWg6GxZDxkNuDaegdj6xiHXCmszjE6HmBFzPB2-LMlpY6G441NRGlu35ZFYWdQVE1Ku74Ib99tTF-akS2duSs02N5vtphB_nZ3rzjxhQscqD9nV8bFOrmlOxpQ4RY1uj_Yv8Vr1Uij5Xy6p0HG7n5v29WOHaSA0C4bS3e81u7nNFZaJK/download [following]
--2020-07-23 19:33:50--  https://public.boxcloud.com/d/1/b1!K8xKBNUO8RkUfzqpiZ9hXPZE0WI3ERb1KOmYDwzpJ8B7eVLKeHZbzhj0TJBJlB36K5qaxv1jzGtAtRLJCRljipw_eSxV89VpZPx2DgS35ECU_huvRVEi2nA3e1EaNWiBt9prXvcjaOcscNdR4ZhpPgKXw-JcitebAXnax0MgFeyzAJ12BLGBdUU0SUlhEF_7t6cvJYIMY7SuY_aTHsmsFDBWwfQV_taiCIUwSiFyRaXfS4DGWnuCui8IZw6p_5_noIzrD8A1xtK7exVW_3Zx6chboByRiTKOwPiS88xPH00DBT7A3y-cbQgDesbmoKny-9pxdrfXjVfVYFw7SjH_w35mL2BfX1TMyzZ31PFiAvX8dLUWYwGVFLqddv6DMkkUyF48ANeW3qKscR9jUcwP3sPlGN7JOms3x6tFCUNihNFu9V7AZu7xE10GAyIok7XpuWBbCn-w8bX6VBHOnMplxSVq3Bp2NdgrnRn-DM1mCHpwDQjhNZK_ZC65s1GTxpGx00fcyttnBt4BbBXNJ3jnafGxw0aJ7wJfYlERIE04Y3YDtp67_fB54g4-DHOqbbtnfjO1RkkITdC8pGBpux9ptg7LrdsHpZmpQTh3T8fGMj4iCOruvTBuxxCzBERZS2J6LzXbmTZOhDdOQs0ih8FEWe83E7gCoq3I_bWMxThSsIQ8x1TPo-FFFLNKpfTdDhlOOHRDD4gKKfAF-iBSBi4doce-r6qUk7W9kUFyq58H_5IH3Bj1w_roRxpwL1hGvVAf7nBQzXLBNz2pqDCACOEFwPzX-SmxQAeW-mgoQgGD-K5lUlv2858QrOP8JJshccxF4VxUnd_Y3M_XJnvydeYRG9IryfKIBmFteen-nuKMS59kEl3NRwVmEwSktBjGgZmsSMlpZAG7CEMo_gxZvSpbwQgasrnJPIWPK46SjeHUIeB8lpSRAKc5wmzcnLseya05Go6f_6eDyngNkMIk4ReOtqFw14fqRGwv3OvKuETP4N4jwiLYUC8HS2xAFnpLQEcH1w8CvhBqL0wbmg02nNNb8Y5mdmeYHoYzroN1M9UadeAqE_b6V0qg77t6j18LgPog7BLXfFBCREu5LdayB8JoQLIsIXDsDUTYVXLt7Q2fJNBnO5tOnSncnuO3dlMStmhKuVL4y-9q9hH9tO_xspiLRdVYwZP1diz64V9TLQ97ZHWaPdGWD377lLkVsiOFKRcM7jSmERu_eOrWyw-bAAI0IcFXJUcStE0VZK7Zk8aUQI5t-Ytfw9MpdkkKaAAyuWg6GxZDxkNuDaegdj6xiHXCmszjE6HmBFzPB2-LMlpY6G441NRGlu35ZFYWdQVE1Ku74Ib99tTF-akS2duSs02N5vtphB_nZ3rzjxhQscqD9nV8bFOrmlOxpQ4RY1uj_Yv8Vr1Uij5Xy6p0HG7n5v29WOHaSA0C4bS3e81u7nNFZaJK/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.29.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.29.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_data.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2020-07-23 19:33:50 (210 MB/s) - ‘Geospatial_data.csv’ saved [2891/2891]

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [140]:
df_cord.shape

(103, 3)

MERGE TWO DATAFRAMES

In [141]:
toronto_cord_df = toronto_df_grouped.set_index('PostalCode')
cordinate_df = df_cord.set_index('Postal Code')
toronto_df_coors = pd.concat([toronto_cord_df, cordinate_df], axis=1, join='inner')
toronto_df_coors.index.name = 'PostalCode'
toronto_df_coors.reset_index(inplace=True)

print(toronto_df_coors.shape)
toronto_df_coors.head()

(103, 5)

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476